@charset "UTF-8";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 假設你有以下兩個樣式對 `<p>` 元素設定顏色： */
p {
  color: blue;
}

p {
  color: red !important;
}
/* 
在這種情況下，即使正常情況下第二個 `color: red;` 應該被覆蓋，
因為它加了 `!important`，最終 `<p>` 的文字會顯示為紅色，而不是藍色。 
*/


body{
  position: relative;	
}
.box-2{
  position: absolute;
  left: 100px;
}