* {
    font-family: "LXGW WenKai Mono TC", serif;
}

.banner {
    background: linear-gradient(135deg, #00b4d8, #0077b6);
}
.signup-form-h1 {
    color: #0077b6;
}
.signup-form-button {
    background: #0077b6;
}
